*.iml

.mvn/
.mvn/timing.properties
.idea/
.settings/
.classpath
.project
.springBeans
.apt_generated
.DS_Store
bower_components
node_modules

.tmp
.factorypath
git.properties

target/
bin/
_site/

src/gitbook/docs
src/gitbook/_book
src/gitbook/*.pdf
src/gitbook/*.epub
src/gitbook/*.mobi
src/gitbook/oss-workspace/

**/src/site/markdown/README.md
**/src/site/markdown/src/readme
**/src/site/resources

/src/feature
/src/slide

.profiler
